captcha==0.5.0
certifi==2023.11.17
charset-normalizer==3.3.2
colorama==0.4.6
comtypes==1.2.0
decorator==4.4.2
ffmpeg==1.4
idna==3.6
imageio==2.33.0
imageio-ffmpeg==0.4.9
moviepy==1.0.3
numpy==1.26.2
opencv-python==4.8.1.78
pdfkit==1.0.0
Pillow==10.1.0
proglog==0.1.10
PyAudio==0.2.14
pydub==0.25.1
pypiwin32==223
pypng==0.20220715.0
python-barcode==0.15.1
pyttsx3==2.90
pywin32==306
qrcode==7.4.2
requests==2.31.0
SpeechRecognition==3.10.0
tqdm==4.66.1
typing_extensions==4.8.0
urllib3==2.1.0
